@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
    justify-content: center;
}

body {
    background: hsl(233, 47%, 7%);
    color: rgb(189, 187, 184);
    margin: 150px;
}

.grid-parent {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

h1 {
    font-size: 2em;
    color:hsl(0, 0%, 100%);
}

h1 span {
    color: hsl(277, 64%, 61%);
}

p {
    font-size: 1em;
    line-height: 1.5em;
    margin-top: 20px;
    margin-bottom: 20px;
    color: hsla(0, 0%, 100%, 0.75)
}

.main-content {
    font-family: 'Inter', sans-serif;
    padding-left: 80px;
    padding-top: 80px;
    padding-right: 80px;
    background: hsl(244, 38%, 16%);
    border-radius: 12px 0 0 12px;
    position: relative;
    width: 100%;
    height: 100%;
}
.sidebar {
    background: url(images/image-header-desktop.jpg);
    background-size: cover;
    position: relative;
    border-radius: 0 12px 12px 0;
    overflow: hidden;
}
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color:hsla(275, 95%, 35%, 0.502); 
}

.foot {
    display: grid;
    margin-top: 4em;
    padding-bottom: 2em;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 1em;
    text-transform: uppercase;
    text-align: left;
    line-height: 2em;
    color: hsla(0, 0%, 100%, 0.75)
}

.foot span {
    font-family: "Inter", sans-serif;
    font-size: 1.4em;
    font-weight: bolder;
    color: hsl(0, 0%, 100%);
}


@media only screen and (min-width: 1440px) {
    .container {
      width: 1440px;
      margin: 0 auto;
    }
}